/* input */
input {
  width: 100%;
}
textarea {
  width: 100%;
  height: 7em;
}

/* detail */
.todos {
  display: block;
  border:#4e5d5f solid 2px;
  margin: 5px 0 5px 0;
  padding: 5px 0 5px 0;
  width: 100%;
  min-height: 112px;
  overflow : hidden;
}
.list-no {
  text-align: center;
  font-size: 2rem;
  margin: 5px 5px 5px 5px;
  width: 100px;
  height: 100px;
  background-color: #4e5d5f;
  color: #ffffff;
}
div {
  float: left;
}
button {
  background-color: #e8345a;
}